<section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
  <a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
  <%= show_side_menu %>
</section>
