<div class="sidebar-widget">
  <h5>Manage</h5>
  <hr>
  <ul>
    <%- if album.public -%>
    <li>
      <a data-toggle="modal" data-target="#shareModal">
        <i class="ion ion-share"></i> Share
      </a>
    </li>
    <%- end -%>
    <li>
      <%= link_to edit_album_path(album) do %>
        <i class="ion ion-edit"></i> Update
      <%- end -%>
    </li>
    <li>
      <%= link_to album, method: :delete do %>
        <i class="ion ion-trash-a"></i> Delete
      <%- end -%>
    </li>
  </ul>
</div>



<!-- Modal -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog share">
    <h2 class="not-visible" id='feedback'> Copied!</h2>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="shareModalLabel">Public URL</h4>
      </div>
      <div class="modal-body">
        <p id="public-url"><%= "#{request.protocol}#{request.host_with_port}/albums/#{album.slug}?p=#{album.token}" %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="copy" type="copy">Copy</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>