<div class="sidebar-widget">
  <h5>Manage</h5>
  <hr>
  <ul>
      <li><%= link_to "Update", edit_album_path(album) %></li>
      <li><%= link_to "Delete", album, method: :delete %></li>
  </ul>
</div>