<%= form_for album do |f| %>
  <p>The hashtag to be searched</p>
  <%= f.text_field :title %></br>
  <p>Users to be included</p>
  <div id="contributors">
    <%- album.contributors.each do |contributor| -%>
      <%= text_field_tag "contributor[names][]", contributor.nickname %>
    <%- end -%>
    <input type="text" name="contributor[names][]"></input>
  </div>
  <a href="#" id="add_contributor">Add Another Contributor (+)</a>
  <a href="#" id="remove_contributor">Remove Contributor (-)</a>
  <!-- TODO Add radio button for public/private -->
  <br>
  <%= f.submit %>
<%- end -%>