<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="col-md-offset-3 col-md-6 col-sm-12">
      <h3 class="legend">Update Album</h3>
        <div class="note">
          <p>NOTE: If the Title is updated, then all previous photos will be removed and new photos will be searched.</p>
          <p>If Contributors are removed, their photos will be deleted from the album.</p>
        </div>
        <%= render 'form', album: @album %>
    </div>
  </div>

  <!-- TODO: display photo and add ability to reorder photo (show small previews and drag/drop in order) -->
  <div class="container">
    <%= render 'albums/photo_sort', album: @album %>
  </div>
</section>
<div class="clearfix"></div>
