<section class="inner-intro bg-img14 overlay-light parallax parallax-background2">
  <div class="container">
    <div class="row title">
      <h2 class="h2">Albums</h2>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">
      <ul class="container-filter categories-filter">
        <li><a class="categories active" data-filter="*">All</a></li>
        <li><a class="categories" data-filter=".my_albums">My Albums</a></li>
        <li><a class="categories" data-filter=".tagged_albums">Other Albums</a></li>
        <li><%= link_to "New", new_album_path %></li>
      </ul>
    </div>
    <div class="row container-grid nf-col-3 display-container">
      <%= render partial: 'albums/preview', collection: @albums, as: :album, locals: {:type => "my_albums"} %>
      <%= render partial: 'albums/preview', collection: @contributions, as: :album, locals: {:type => "tagged_albums"}%>
    </div>
  </div>
</section>
<div class="clearfix"></div>

