<div class="nf-item <%= photo.user.nickname %> spacing">
  <div class="item-box">
  <a class="cbox-gallary1" href="<%= photo.media_url %>">
      <img alt="1" src="<%= photo.media_url %>" class="item-container">
      <div class="item-mask">
        <div class="item-caption">
          <h5 class="white"><%= photo.location_name %></h5>
        </div>
      </div>
    </a>
  </div>
</div>