<div class="icons">
  <span id="map-prev" class="map-nav"><i class="ion ion-chevron-left icon"></i></span>
  <span id="map-all" class="map-nav" ><i class="ion ion-flag icon"></i></span>
  <span id="map-next" class="map-nav"><i class="ion ion-chevron-right icon"></i></span>
</div>
<div id="leafmap"></div>
