.full-vh {
  height: 100vh;
}

li.header-menu-button {
  padding-top: 29px !important;
}

i.icon {
  font-size: 16px;
}

.modal-dialog.share {
  top: 25vh;
}

#public-url {
  text-align: center;
}

.modal-dialog.share .modal-header {
  border: none;
  padding-bottom: 0px;
}

#feedback {
  font-size: 45px;
  color: red;
  top: -40px;
  text-align: center;
  z-index: 9999;
}

.not-visible {
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}