.full-vh {
  height: 100vh;
}

li.header-menu-button {
  padding-top: 29px !important;
}

i.ion {
  font-size: 16px;
}

.modal-dialog.share {
  top: 35vh;
}

#public-url {
  text-align: center;
}

.modal-dialog.share .modal-header {
  border: none;
  padding-bottom: 0px;
}