#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
}

#sortable img {
  margin: 0 3px 3px 3px;
  /*padding: 0.4em;*/
  /*padding-left: 1.5em;*/
  font-size: 1.4em;
  /*height: 35px;*/
  /*border: 1px solid black;*/
  float: left;
  width: 23%;
  background-color: white;
  cursor: pointer;
  cursor: hand;
  overflow: hidden;
}

.sortable-photo {
  color: black;
}

#sortable li.ui-sortable-helper {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

#orderSubmit {
  display: none;
  visibility: hidden;
}