<footer class="footer pt-80">
  <div class="container">
    <div class="row mb-60">
      <div class="col-md-4 col-md-offset-4 col-xs-12">
        <div class="create-header">
          <center>Created By</center>
        </div>
        <div class="creator center">
          <p id="creator-name">Seiji Naganuma</p>
          <ul class="social">
              <li><a target="_blank" href="https://github.com/snags88"><i class="fa fa-github"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/snaganuma"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
