<header class="header">
  <div class="container">
    <div class="logo">
      <a href="#">
          glance
      </a>
    </div>

    <div class="side-menu-btn">
        <ul>
          <li class="">
            <a class="right-icon bar-icon toggle-menu menu-right push-body"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
    </div>
  </div>
</header>
